
.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 40rem;
  position: relative;
  max-height: 70rem;
  overflow-y: auto;
}

.form-container {
  max-height: 60rem;
  padding: 2rem;
  overflow-y: auto;
  height: auto;
}


.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.row.full-width {
  grid-template-columns: 1fr;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #2b6cb0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #2c5282;
}


.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.form-container::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-track,
.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.form-container::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.form-container::-webkit-scrollbar-thumb:hover,
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
